*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    background-color: black;
    height: 10vh;
}

.menu{
    display: flex;
    gap:10px;

}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 4px;
}