*{
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}

header{
    width: 100vw;
    background-color: black;
    height: 10vh;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

header h1{
    color:white;
}

.menu{
    display: flex;
    gap:18px;

}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 4px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile{
margin-top:4% ;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
}

h2{
    font-size: 2rem; 
}

p{
font-size: 1.5rem;
}

.description{
    margin-top:4% ;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description h1{
    font-size: 3em;

}

.desc{
    height: auto;
    width: 50%;
}

.desc_profile{
    width: 50%;
}


.img-profile{
width: 20%;
border-radius: 40%;
}

.products{
    margin-top: 4%;
}
